@model IEnumerable<ResumeManager.Models.tbl_education>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.school_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.degree)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.start_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.finish_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.program_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isEnrolledCurrently)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_users.firstname)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.school_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.degree)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.start_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.finish_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.program_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isEnrolledCurrently)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_users.firstname)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
